body, h1 {
    background-image: url('https://i.imgur.com/OuSizUw.jpg');
    background-repeat: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

h1 {
    font-family: 'Russo One', sans-serif;
    text-shadow: 3px 3px darkslategray;
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-left: 250px;
}
h2{
    font-size: 20px;
    color: red;
    font-weight: bolder;
}

.card {
    margin: 0 auto;
    z-index: 99;
}

.btn {
    margin-left: 320px;
    margin-top: 25px;
}

#attackNotes{
    text-align: left;
    margin-right: 150px;
    font-family: 'Russo One', sans-serif;
    margin-top: 25px;
    
}

#notesBox {
    margin-top: 25px;
    width: 350px;
    height: 100px;
    text-align: left;
    overflow: wrap;
    font-weight: bolder;
    font-size: 20px;
    color: red;
}

#oponentPosition {
    margin: 0 auto;
    border: solid 5px black;
    box-sizing: unset;
    height: 300px;
    width: 50%;
    background-color: black;
}

#playerPosition {
    margin: 0 auto;
    border: solid 5px black;
    box-sizing: unset;
    height: 300px;
    width: 50%;
    background-color: black;
}

.draggable
{
    filter: alpha(opacity = 60);
    opacity: 0.6;
    position: relative;
}

.dropped
{
    position: absolute !important;
}

p {
    color: red;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.815);
    /* display:inline; */
    text-align: center;
   
}

.fightPosition {
    z-index: -1;

}

#ftitle, #otitle {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}