body, h1 {
    background-image: url('https://i.imgur.com/OuSizUw.jpg');
}

h1 {
    font-family: 'Russo One', sans-serif;
    text-shadow: 3px 3px white;
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-left: 250px;
}

.card {
    margin-left: 30px;
}

.btn {
    margin-left: 320px;
    margin-top: 25px;
}

#attackNotes{
    text-align: left;
    margin-right: 150px;
    font-family: 'Russo One', sans-serif;
    margin-top: 25px;
}

#challenger {
        margin-right: 150px;
        border: solid 5px black;
        padding: 10px;
}

#playerPosition {
        margin-left: 150px;
        border: solid 5px black;
        padding: 10px;
}

.draggable
{
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 99;
}

.dropped
{
    position: static !important;
}
